// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article {
  h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 3px;
  }
}

.colors {
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  > li {
    margin: 20px 0;
    padding: 0;
  }
}

.sizes {
  list-style: upper-alpha;
  font-weight: normal;
  margin: 0;
  padding: 0;
  > li {
    margin: 5px 0;
    margin-left: 25px;
  }
}

form > fieldset {
  border: none;
  border: solid 1px #CCC;
  padding: 10px 15px;
  margin: 15px 0;
  fieldset {
    border: none;
    margin: 0;
    margin: 10px 0;
    padding: 0;
  }
}

textarea {
  height: 40px;
  width: 350px;
  margin-top: 3px;
}


table.pretty {
  border-collapse: collapse;
}

.pretty td, .pretty th {
  padding: 4px 10px;
  border: solid 1px #AAA;
}

.pretty .price {
  text-align: right;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}
